/*
	stylesheet for weather app
*/
body {
	background-image: url("../img/city_vector.jpg");
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
	color: white;
}

/* background color on top of bg image*/
.hero {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    bottom: 0;
    background-color: rgba(31, 34, 118, 0.5);
    z-index: -5;
}

/* navbar */
.navbar {
	background-color: rgb(69, 106, 171);
}

.navbar a {
	color: white;
	font-size: 25px;
}

/* weather section */
.weather {
	border:1px solid white;
	margin-top: 10rem;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	color: white;
}

.weather-head {
	height: 50%;
}

#icon-desc {
	font-size: 5rem;
	padding-top: 2rem;
}

.weather-body {
	/*padding-top: 1rem;
	padding-bottom: 1rem;*/
}

.humidity, .wind, .wind-degree {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	font-size: 1.5rem;

}

#description {
	font-size: 2rem;
}

#temperature {
	font-size: 7rem;
}

#icon-thermometer {
	font-size: 5rem;
}

#humidity, #wind, #degree {
	font-size: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}


